<div class="text-start text-light about-text"  data-aos="fade-up">
  <h1 data-i18n="about_me">About Me</h1>
  <p class="lead-para" data-i18n="about_me_p_1">Hi, I’m Samah, a passionate front-end and full-stack developer with over
    nine years of experience. I specialize in building responsive, user-friendly web applications using React,
    JavaScript, HTML, CSS, Bootstrap, and Python (Django).</p>
  <p data-i18n="about_me_p_2">I’ve contributed to diverse projects, including hospital management systems, real estate
    platforms, and student admission portals. As a team leader and Scrum Master, I’ve played a key role in streamlining
    development workflows and delivering scalable solutions.</p>
  <p data-i18n="about_me_p_3">Beyond coding, I focus on performance optimization, clean code, and best practices to
    ensure high-quality applications. I thrive on collaboration and love turning ideas into efficient, impactful digital
    experiences.</p>
</div>
<div class="about-image">
  <img src="https://img.freepik.com/premium-vector/woman-sitting-floor-working-laptop-computer-woman-repairing-programming-simple-minimalist-flat-vector-illustration_538213-119454.jpg" alt="About Image">
</div>