
    <div class="company-heading" data-aos="fade-up">
      <h2 class=" text-center my-5" data-i18n="companies">Companies I Have Worked With</h2>
    </div>
    <div class="w-100 d-flex justify-content-center 
      align-items-baseline flex-wrap" data-aos="fade-up">
      <div>
        <a href="https://citc.mans.edu.eg/">
          <img src="./assets/images/citc.png" alt="CITC" style="width:200px;height:120px;">
        </a>

      </div>
      <div>
        <a href="https://services.ayen.com.sa">
          <img src="./assets/images/download.png" alt="AYEN">
        </a>
      </div>
      <div>
        <a href="https://paymob.com/en">
          <img src="./assets/images/paymob.jpg" alt="Paymob">
        </a>
      </div>
    </div>