
<div class="edu-heading" data-aos="fade-up">
  <h2 class=" text-center mb-5" data-i18n="edu_cert">Education and Certificates</h2>
</div>
<ul class="timeline-with-icons">
  <li class="timeline-item mb-5"  data-aos="fade-up">
    <span class="timeline-icon">
      <a href="https://depi.gov.eg/">
        <img src="./assets/images/proAr.png" alt="depi" width="50px" height="50px">
      </a>
    </span>

    <h5 class="fw-bold ps-5 pt-2" data-i18n="edu_cert_depi_head">React Frontend Web Developer Trainee, DEPI
      Program<br>
      Ministry of Communications and Information Technology
    </h5>
    <div class="text-muted mb-2 fw-bold ps-5 pt-2" data-i18n="edu_cert_depi_1">2024 – Present</div>
    <div class="text-muted ps-5 pt-2" data-i18n="edu_cert_depi_1">
      Acquiring comprehensive knowledge in HTML, CSS, JavaScript, and specializing in React for frontend
      web development.
    </div>
    <div class="text-muted ps-5 pt-2" data-i18n="edu_cert_depi_2">
      Gaining proficiency in Git/GitHub for version control, Node.js for server-side scripting, and
      containerization tools like
      Docker and Kubernetes.</div>
    <div class="text-muted ps-5 pt-2" data-i18n="edu_cert_depi_3">Working on a Capstone Project that
      combines React and Node.js
      to build a real-world web application.</div>
  </li>

  <li class="timeline-item mb-5" data-aos="fade-up">

    <span class="timeline-icon">
      <a href="https://iti.gov.eg/">
        <img src="./assets/images/ColoredLogo.svg" alt="" width="50px" height="50px">
      </a>
    </span>
    <h5 class="fw-bold ps-5 pt-2" data-i18n="edu_cert_iti_head">9 Months Diploma in Professional Development:
      System Development,<br>
      Information Technology Institute, Ministry of Communications and Information Technology</h5>
    <div class="text-muted mb-2 fw-bold ps-5 pt-2" data-i18n="edu_cert_iti_1">Oct 2014 – Jun 2015
    </div>
    <div class="text-muted ps-5 pt-2" data-i18n="edu_cert_iti_2">Graduation Project: "OSHA"</div>
    <div class="text-muted ps-5 pt-2" data-i18n="edu_cert_iti_3">Designed the Entity Relationship Diagram
      (ERD) for the database.</div>
    <div class="text-muted ps-5 pt-2" data-i18n="edu_cert_iti_4">Developed applications using HTML,
      jQuery, Bootstrap 3, C#, LINQ, ASP.Net, and SQL Server DB.</div>

  </li>

  <li class="timeline-item mb-5" data-aos="fade-up">

    <span class="timeline-icon">
      <a href="https://csifac.mans.edu.eg/index.php/en/">
        <img src="./assets/images/cis-logo.png" alt="" width="50px" height="50px">
      </a>
    </span>
    <h5 class="fw-bold ps-5 pt-2" data-i18n="edu_cert_mans_head">Bachelor’s of Computer Science and Information
      Technology <br>Faculty of Computers and Information, Mansoura University, Egypt</h5>
    <div class="text-muted mb-2 fw-bold ps-5 pt-2" data-i18n="edu_cert_mans_1"> Sep 2010 – Aug 2014 </div>
    <div class="text-muted mb-2 ps-5 pt-2" data-i18n="edu_cert_mans_2">Graduation Project: "Remote Sensing
      and Control via Network"</div>
    <div class="text-muted ps-5 pt-2" data-i18n="edu_cert_mans_3">Developed solutions using MATLAB and
      OpenCV for Skin Detection.</div>
  </li>
</ul>
