<div class="services-heading mb-5">
  <h2 class="text-center" data-i18n="projects_worked">Projects I worked on it</h2>
</div>
<div>
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio_front"
      onclick="showProjects('pfront')" autocomplete="off" checked>
    <label class="btn btn-outline-success" for="btnradio_front" data-i18n="projects_front">Front-end Projects</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio_back" onclick="showProjects('pback')"
      autocomplete="off">
    <label class="btn btn-outline-success" for="btnradio_back" data-i18n="projects_back">Back-end Projects</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio_full" onclick="showProjects('pfull')"
      autocomplete="off">
    <label class="btn btn-outline-success" for="btnradio_full" data-i18n="projects_full">Full Stack Projects</label>
  </div>
</div>
<div class="services-content my-5 py-5">
  <div id="pfront" class="front-end d-flex justify-content-center projdiv">
    <div class="marquee marquee--hover-pause marquee--fit-content enable-animation">
      <ul class="marquee__content list-unstyled">
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-primary text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Area-Calculator.png"
              alt="Area Calculator image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_with_js/samah_assignement21_area_calculator"
              target="_blank"><i class="fas fa-code me-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_with_js/samah_assignement21_area_calculator/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-success text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Flowers.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_css/samah_assignment5"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_css/samah_assignment5/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-info text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Books.png" alt="Books image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_css/samah_assignment6"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_css/samah_assignment6/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-warning text-dark rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Crypto-Figma-Design.png"
              alt="crypto image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_bootstrap5/crypto_figma"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_bootstrap5/crypto_figma/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-danger text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/front1.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_with_js/samah_assignment20"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_with_js/samah_assignment20/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-primary text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/front2.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_css/samah_assignment10"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_css/samah_assignment10/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-success text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Flowers.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_css/samah_assignment5"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_css/samah_assignment5/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-info text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/whatsapp_web_app_mock.png"
              alt="whatsapp image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_bootstrap5/samah_assignment16"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_bootstrap5/samah_assignment16/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-warning text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/calc_js.png"
              alt="Calculator image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_with_js/samah_assignments26_calculator"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_with_js/samah_assignments26_calculator/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
      </ul>

      <ul aria-hidden="true" class="marquee__content list-unstyled">
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-primary text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Area-Calculator.png"
              alt="Area Calculator image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_with_js/samah_assignement21_area_calculator"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_with_js/samah_assignement21_area_calculator/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-success text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Flowers.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_css/samah_assignment5"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_css/samah_assignment5/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-info text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Books.png" alt="Books image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_css/samah_assignment6"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_css/samah_assignment6/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-warning text-dark rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/Crypto-Figma-Design.png"
              alt="Crypto image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_bootstrap5/crypto_figma"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_bootstrap5/crypto_figma/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-danger text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/front1.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_with_js/samah_assignment20"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_with_js/samah_assignment20/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-danger text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/front2.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_css/samah_assignment10"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_css/samah_assignment10/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-danger text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/mock_linkedin.png"
              alt="linkedin image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_bootstrap5/samah_assignment17"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_bootstrap5/samah_assignment17/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-danger text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/whatsapp_web_app_mock.png"
              alt="whatsapp image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_projects_with_bootstrap5/samah_assignment16"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_projects_with_bootstrap5/samah_assignment16/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
        <li class="marquee-item position-relative d-inline-block">
          <div class="px-4 py-2 bg-danger text-white rounded-5">
            <img class="front-proj-img rounded-5" src="./assets/images/calc_js.png"
              alt="Flowers image">
          </div>
          <div class="hover-overlay w-100 h-100">
            <a href="https://github.com/samahali/DKH2_SWD2_G1_samah/tree/main/html_with_js/samah_assignments26_calculator"
              target="_blank"><i class="fas fa-code mx-md-2"></i><span data-i18n="src_code">Source Code</span></a>
            <a href="https://samahali.github.io/DKH2_SWD2_G1_samah/html_with_js/samah_assignments26_calculator/"
              target="_blank"><i class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="pback" class="back-end d-none projdiv">
    <div>
      <div class="d-flex justify-content-center">
        <div class="marquee marquee--hover-pause marquee--fit-content enable-animation">
          <ul class="marquee__content list-unstyled">
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-primary text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/ayen.png"
                  alt="ayen image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://services.ayen.com.sa/home" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#ayenModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>

            </li>
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-success text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/paymob-site.png"
                  alt="paymob image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://paymob.com/en" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#paymobModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
          </ul>

          <ul aria-hidden="true" class="marquee__content list-unstyled">
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-primary text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/ayen.png"
                  alt="ayen image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://services.ayen.com.sa/home" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#ayenModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-success text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/paymob-site.png"
                  alt="paymob image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://paymob.com/en" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#paymobModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
          </ul>
          <!-- Ayen Modal -->
          <div class="modal" id="ayenModal">
            <div class="modal-dialog  modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" data-i18n="ayen">Backend Developer – AYEN</h4>
                  <br><span class="ms-2" data-i18n="ayen_enrolled">(Dec. 2020 – Jul. 2022)</span>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div>
                    <strong data-i18n="ayen_title">Project: Property Inspection Platform</strong>
                    <div data-i18n="ayen_description">
                      A web application designed to streamline property inspections,
                      allowing users to manage property Details, schedule inspections, and
                      generate reports.
                    </div>
                  </div>
                  <div>
                    <strong data-i18n="ayen_tech_used">Technologies Used:</strong>
                    <ul>
                      <li data-i18n="ayen_tech_back">
                        <strong>Backend</strong>: Django Templates, Django REST
                        Framework (DRF 3.1), Python 3.9.
                      </li>
                      <li data-i18n="ayen_tech_db">
                        <strong>Database</strong>: MySQL.
                      </li>

                      <li data-i18n="ayen_tech_vc">
                        <strong>Version Control & Containerization</strong>: Git,
                        Docker.
                      </li>
                      <li data-i18n="ayen_tech_third">
                        <strong>Third-Party Integrations</strong>: Amazon Payment
                        Services, Apple Pay, Qoyod, SendGrid, Bitly, Google Sheets
                        (gspread), Zapier
                      </li>
                      <li data-i18n="ayen_tech_cicd">
                        <strong>Monitoring & CI/CD Tools</strong>: Sentry, SonarQube,
                        Slack, Ngrok, GitLab, Jira
                      </li>
                    </ul>
                  </div>
                  <!-- here compelete -->
                  <div>
                    <strong data-i18n="ayen_tech_role">Role & Responsibilities:</strong>
                    <ul>
                      <li data-i18n="ayen_role_1">Developed and maintained server-side components using Django and
                        DRF.</li>
                      <li data-i18n="ayen_role_2">Integrated payment gateways (Amazon Payment Services, Apple Pay)
                        and financial management systems (Qoyod).</li>
                      <li data-i18n="ayen_role_3">Implemented email communication via SendGrid, link shortening
                        with Bitly, and automated reporting using Google Sheets
                        (gspread).</li>
                      <li data-i18n="ayen_role_4">Worked closely with the Angular front-end team to ensure
                        seamless API integration.</li>
                      <li data-i18n="ayen_role_5">Used Docker for containerization and implemented CI/CD pipelines
                        using GitLab, Sentry, and SonarQube for monitoring and testing.
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal" data-i18n="close">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Paymob Modal -->
          <div class="modal" id="paymobModal">
            <div class="modal-dialog  modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" data-i18n="paymob_title">Backend Developer – Crypto Payment Application
                    (Paymob)</h4>
                  <br><span class="ms-2" data-i18n="paymob_enrolled">(Nov. 2022 – Nov. 2024)</span>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div data-i18n="paymob_description">
                    Developed a crypto payment application enabling secure transactions,
                    withdrawals, and swaps across major blockchain networks. Integrated
                    real-time transaction monitoring and QR code generation for seamless
                    payments.
                  </div>
                  <div>
                    <strong data-i18n="paymob_tech_used">Technologies Used:</strong>
                    <ul>
                      <li data-i18n="paymob_tech_back">
                        Backend: Django 4.1, Python 3.11.
                      </li>
                      <li data-i18n="paymob_tech_blockchain">
                        Blockchain: Web3 (Ethereum), Solana Package (Solana)
                      </li>

                      <li data-i18n="paymob_tech_websocket">
                        Real-Time Communication: Django Channels (WebSocket)
                      </li>
                      <li data-i18n="paymob_tech_db">
                        Database: MariaDB
                      </li>
                      <li data-i18n="paymob_tech_devops">
                        DevOps & Tools: Git, Docker, GitLab CI/CD, Sentry, SonarQube,
                        Ngrok, Jira
                      </li>
                    </ul>
                  </div>
                  <div>
                    <strong data-i18n="paymob_tech_role">Role & Responsibilities:</strong>
                    <ul>
                      <li data-i18n="paymob_tech_role_1">Developed core backend features, including payments,
                        withdrawals, and swaps.</li>
                      <li data-i18n="paymob_tech_role_2">Integrated Fireblocks and Circle for secure cryptocurrency
                        management.</li>
                      <li data-i18n="paymob_tech_role_3">Built a real-time WebSocket system (Django Channels) for
                        blockchain transaction monitoring.</li>
                      <li data-i18n="paymob_tech_role_4">Collaborated with blockchain developers to ensure smooth
                        Ethereum & Solana integration.</li>
                    </ul>
                  </div>
                  <div>
                    <strong data-i18n="paymob_challenges">Challenges & Solutions:</strong>
                    <ul>
                      <li data-i18n="paymob_challenges_1">
                        Multi-Blockchain Integration: Used Web3 for Ethereum and Solana
                        Package for Solana.
                      </li>
                      <li data-i18n="paymob_challenges_2">
                        Real-Time Transaction Monitoring: Implemented async WebSockets
                        to track payments.
                      </li>
                      <li data-i18n="paymob_challenges_3">
                        Refund Handling: Developed mechanisms to ensure correct user
                        refunds on failed transactions.
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal" data-i18n="close">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pfull" class="full-stack d-none projdiv">
    <div>
      <div class="d-flex justify-content-center">
        <div class="marquee marquee--hover-pause marquee--fit-content enable-animation">
          <ul class="marquee__content list-unstyled">
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-primary text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/Ibnsina-sys.png"
                  alt="Ibn Sina image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://srv137.mans.edu.eg/ibnsina/" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#ibnsinaModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-success text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/eelu.png"
                  alt="eelu image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://admission.eelu.edu.eg/login" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#eeluModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-info text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/mymans.png"
                  alt="mymans image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://mymans.mans.edu.eg/" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#mymansModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
          </ul>

          <ul aria-hidden="true" class="marquee__content list-unstyled">
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-primary text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/Ibnsina-sys.png"
                  alt="Ibn Sina image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://srv137.mans.edu.eg/ibnsina/" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#ibnsinaModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-success text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/eelu.png"
                  alt="eelu image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://admission.eelu.edu.eg/login" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#eeluModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
            <li class="marquee-item position-relative d-inline-block">
              <div class="px-4 py-2 bg-info text-white rounded-5">
                <img class="front-proj-img rounded-5" src="./assets/images/mymans.png"
                  alt="mymans image">
              </div>
              <div class="hover-overlay w-100 h-100">
                <a href="https://mymans.mans.edu.eg/" target="_blank"><i
                    class="fa-regular fa-eye mx-2"></i><span data-i18n="preview">Preview</span></a>
                <button class="btn btn-outline-secondary bg-transparent text-light"
                  data-bs-toggle="modal" data-bs-target="#mymansModal">
                  <i class="fa-solid fa-list-check mx-2"></i><span data-i18n="details">Details</span>
                </button>
              </div>
            </li>
          </ul>
          <!-- MyMans Modal -->
          <div class="modal" id="mymansModal">
            <div class="modal-dialog  modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" data-i18n="mymans_title">Full Stack Developer – Mymans</h4>
                  <br><span class="ms-2" data-i18n="mymans_enrolled">(Dec. 2019 – Feb. 2020)</span>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <ul>
                    <li data-i18n="mymans_description_1">
                      Developed and maintained features for the <strong>Staff
                        Portal</strong> (education service) using
                      <strong>Angular 7, Node.js 10.6.3 (Express), and MySQL</strong>.

                    </li>
                    <li data-i18n="mymans_description_2">Built and integrated one or two API endpoints in the backend.</li>

                    <li data-i18n="mymans_description_3">Primarily worked on the frontend, implementing dynamic UI components
                      and improving user experience.</li>
                    <li data-i18n="mymans_description_4">Used <strong>Git</strong> for version control to collaborate
                      effectively with the development team.</li>
                    <li data-i18n="mymans_description_5">Worked in an <strong>Agile Scrum</strong> environment, participating
                      in <strong>sprint planning, daily standups, and iterative
                        development cycles</strong>.</li>
                  </ul>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal" data-i18n="close">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- eelu Modal -->
          <div class="modal" id="eeluModal">
            <div class="modal-dialog  modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" data-i18n="eelu_title">Full Stack Developer – Private & Admission</h4>
                  <br><span class="ms-2" data-i18n="eelu_enrolled">(Feb. 2020 – Oct. 2020)</span>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div data-i18n="eelu_description">
                    <strong>Project</strong>: A private educational service platform for
                    student admissions, course registration, scheduling, and payment
                    processing.
                  </div>
                  <div>
                    <strong data-i18n="eelu_tech_used">Technologies Used:</strong>
                    <ul>
                      <li data-i18n="eelu_tech_back">
                        <strong>Backend</strong>: Django Restframework
                      </li>
                      <li data-i18n="eelu_tech_front"><strong>Frontend</strong>: Vue2, Vuetify</li>

                      <li data-i18n="eelu_tech_db"><strong>Database</strong>: MySQL</li>
                      <li data-i18n="eelu_tech_vc"><strong>Version Control</strong>: Git</li>
                      <li data-i18n="eelu_tech_agile">Worked in an <strong>Agile Scrum</strong> environment,
                        participating in <strong>sprint planning, daily standups, and
                          iterative development cycles</strong>.</li>
                    </ul>
                  </div>
                  <div>
                    <strong data-i18n="eelu_role">Role & Responsibilities:</strong>
                    <ul>
                      <li data-i18n="eelu_role_1">Developed backend and frontend features, including student
                        registration, admission processing, and scheduling.</li>
                      <li data-i18n="eelu_role_2">Implemented dynamic UI components using Vue.js and Vuetify to
                        enhance user experience.</li>
                      <li data-i18n="eelu_role_3">Built RESTful APIs in Django for handling student data and
                        payment processing.</li>
                      <li data-i18n="eelu_role_4">Acted as Scrum Master in some sprints, leading standups and
                        ensuring smooth development workflows.</li>
                      <li data-i18n="eelu_role_5">Used Git for version control and Redmine for task tracking and
                        project management.</li>
                    </ul>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal" data-i18n="close">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ibnsina Modal -->
          <div class="modal" id="ibnsinaModal">
            <div class="modal-dialog  modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" data-i18n="ibnsina_title">Full Stack Developer – Ibn-Sina System</h4>
                  <br><span class="ms-2" data-i18n="ibnsina_enrolled">(Dec. 2015 – Dec. 2019)</span>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div>
                    <strong data-i18n="ibnsina_role">Key Roles & Responsibilities:</strong>
                    <ul>
                      <li data-i18n="ibnsina_role_1">
                        <strong>Full Stack Developer (2015–2019)</strong>: Developed and
                        maintained core features of the Ibn-Sina medical management
                        system, including electronic health records (EHR), appointment
                        scheduling, and billing.
                      </li>
                      <li data-i18n="ibnsina_role_2">
                        <strong>Team Leader (Dec. 2018 – Dec. 2019)</strong>: Led the
                        development team, coordinated tasks, set milestones, conducted
                        code reviews, and mentored junior developers.
                      </li>

                      <li data-i18n="ibnsina_role_3">
                        <strong>Scrum Master (Jul. 2017 – Feb. 2018)</strong>:
                        Facilitated Agile Scrum processes, including sprint planning,
                        daily standups, and retrospectives, ensuring smooth project
                        execution.
                      </li>
                    </ul>
                  </div>
                  <div>
                    <strong data-i18n="ibnsina_challenges">Challenges & Solutions:</strong>
                    <ul>
                      <li data-i18n="ibnsina_challenges_1"><strong>Aligning teams & stakeholders with Agile
                          methodologies</strong>: Conducted regular retrospectives and
                        ensured clear communication.</li>
                      <li data-i18n="ibnsina_challenges_2"><strong>Managing multiple development teams</strong>: Held daily
                        stand-ups and sprint planning meetings to streamline
                        collaboration.</li>
                      <li data-i18n="ibnsina_challenges_3"><strong>Preventing scope creep</strong>: Maintained clear and
                        concise user stories in Redmine to ensure project focus.</li>
                    </ul>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                    data-bs-dismiss="modal" data-i18n="close">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
