    <div class="skills-heading text-center"  data-aos="fade-up">
      <h2 class=" pt-5" data-i18n="tech_skills">Technical Skills</h2>
    </div>
    <section>
      <div class="container py-5 mx-auto">
        <div class="row justify-content-center">
          <!-- HTML5 Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.w3.org/html/" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                alt="html5" width="80" height="80" />
            </a>
          </div>

          <!-- CSS3 Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.w3.org/css/" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                alt="css" width="80" height="80" />
            </a>
          </div>

          <!-- Bootstrap Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://getbootstrap.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-original-wordmark.svg"
                alt="bootstrap" width="80" height="80" />
            </a>
          </div>
          <!-- JavaScript Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                alt="javascript" width="80" height="80" />
            </a>
          </div>
          <!-- TypeScript Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.typescriptlang.org/" target="_blank">
              <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/TypeScript.svg"
                alt="typescript" width="80" height="80" />
            </a>
          </div>
          <!-- Vue.js Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://vuejs.org/" target="_blank">
              <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/VueJS-Light.svg"
                alt="vuejs" width="80" height="80" />
            </a>
          </div>
          <!-- React Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://reactjs.org/" target="_blank">
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="react"
                width="80" height="80" />
            </a>
          </div>
          <!-- Python Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.python.org" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                alt="python" width="80" height="80" />
            </a>
          </div>

          <!-- Django Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.djangoproject.com/" target="_blank">
              <img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="django" width="80"
                height="80" />
            </a>
          </div>
          <!-- MySQL Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.mysql.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                alt="mysql" width="80" height="80" />
            </a>
          </div>

          <!-- PostgreSQL Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.postgresql.org" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
                alt="postgresql" width="80" height="80" />
            </a>
          </div>

          <!-- Docker Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.docker.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg"
                alt="docker" width="80" height="80" />
            </a>
          </div>

          <!-- Git Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://git-scm.com/" target="_blank">
              <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="80"
                height="80" />
            </a>
          </div>

          <!-- Postman Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://postman.com" target="_blank" rel="noreferrer">
              <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman"
                width="80" height="80" />
            </a>
          </div>

          <!-- Additional Skills -->
          <!-- Node.js Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://nodejs.org" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
                alt="nodejs" width="80" height="80" />
            </a>
          </div>

          <!-- MongoDB Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.mongodb.com" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
                alt="mongodb" width="80" height="80" />
            </a>
          </div>

          <!-- Nginx Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.nginx.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nginx/nginx-original.svg"
                alt="nginx" width="80" height="80" />
            </a>
          </div>

          <!-- AWS Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://aws.amazon.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
                alt="aws" width="80" height="80" />
            </a>
          </div>

          <!-- Redis Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://redis.io/" target="_blank">
              <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/Redis-Light.svg"
                alt="redis" width="80" height="80" />
            </a>
          </div>

          <!-- GitLab Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://gitlab.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/GitLab-Light.svg"
                alt="gitlab" width="80" height="80" />
            </a>
          </div>

          <!-- GitHub Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://github.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/Github-Light.svg"
                alt="github" width="80" height="80" />
            </a>
          </div>

          <!-- PyCharm Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.jetbrains.com/pycharm/" target="_blank">
              <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/PyCharm-Light.svg"
                alt="pycharm" width="80" height="80" />
            </a>
          </div>

          <!-- VSCode Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://code.visualstudio.com/" target="_blank">
              <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/refs/heads/main/icons/VSCode-Light.svg"
                alt="vscode" width="80" height="80" />
            </a>
          </div>
          <!-- Slack Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://slack.com/" target="_blank">
              <img src="https://camo.githubusercontent.com/c32ace268577937ec8e145cfb1ee87e36d783c6e02496a7f47c2cd77b42e7da7/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f67682f64657669636f6e732f64657669636f6e2f69636f6e732f736c61636b2f736c61636b2d6f726967696e616c2e737667"
                alt="slack" width="80" height="80" />
            </a>
          </div>
          <!-- Jira Icon -->
          <div class="col-4 col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
            <a href="https://www.atlassian.com/software/jira" target="_blank">
              <img src="https://camo.githubusercontent.com/846a58b5795502a7f7b4016dd2c934bad2d3b80341db7ce9fc0ada3c8a1ac2d3/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f67682f64657669636f6e732f64657669636f6e2f69636f6e732f6a6972612f6a6972612d6f726967696e616c2e737667"
                alt="jira" width="80" height="80" />
            </a>
          </div>

        </div>
      </div>
    </section>
